.hidden {
  display: none !important;
}

.page-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;

  .fa-stack {
    font-size: 60px;
    .fa-usd {
      color: gold;
    }
  }
}

.avatar {
  border: 2px solid transparent;
  width: 175px;
  height: 175px;
  background-repeat: no-repeat;
  background-image: url('../images/sprite/got.png');

  &:hover {
    border: 2px solid gold;
  }

  &.avatar-0 {
    background-position: -50px -7px;
  }
  &.avatar-1 {
    background-position: -234px -7px;
  }
  &.avatar-2 {
    background-position: -629px -1px;
  }
  &.avatar-3 {
    background-position: -800px -7px;
  }
  &.avatar-4 {
    background-position: -40px -604px;
  }
  &.avatar-5{
    background-position: -620px -380px;
  }

  &.picked {
    border: 2px solid gold;
  }
}

body {
  background-image: url('../images/storm.gif');
  background-repeat: no-repeat;
  background-size: cover;
}

.title{
  color: white;
  font-family: 'MedievalSharp', cursive;
}

.login-container {

  // background-image: url('../images/storm.gif');

  .user-name {
    justify-content: center;

    .user-form {
      text-align: center;

      .username {
        width: 70%;
        padding: 0 10px;
      }
    }
  }
  .avatar-select {
    display: flex;
    justify-content: center;

    .avatar {
      margin: 0 auto;
      margin-bottom: 20px;
      background-color: transparent;
      cursor: pointer;

      &.picked {
        cursor: default;
      }
    }

    .title {
      text-align: center;
      margin: 20px;
    }
  }
  .connected-players {
    height: 200px;
    width: 100%;
    border: 1px solid black;
    margin: 20px;

    .player {
      padding: 5px 10px;
      .dc-btn {
        float: right;
        padding: 0.2rem .6rem;
      }
      .ready-btn {
        float: right;
        padding: 0.2rem .6rem;
        margin-left: 5px;
      }
      .status {
        float: right;
      }
    }
  }
}

.game-container {
  background-image: url('../images/felt-wallpaper.jpg');
  background-repeat: no-repeat;
  min-height: 100vh;

}
